@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.lala {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.small_image {
    display: inline-block;
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}


.messages_general {
    overflow: auto;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-width: 2px;
    border-radius: 15px;
    border-color: #1a202c;
    box-shadow: #1a202c;
    background: #ffffff;
    resize: none;
    min-height: 400px !important;
    box-shadow: 5px 10px #cbc9c9;
}

.input_class {
    border-radius: 15px;
    width: 100%
}

.text-align{
    text-align: left;
}

.img {
    height: 50px !important;
    border-radius: 50%;
}



.card_Class{
    width: 18rem !important;
}

.btn-primary {
    background-color: #009fff !important;
}

.btn-success{
    background-color: #ffffff !important;
    color: #1a202c;
    width: 100%;
}

.btn-success:hover {
    background-color: #00ff22 !important;
}

.btn-danger{
    background-color: #ffffff !important;
    color: #1a202c;
    width: 100%;
}

.btn-danger:hover {
    background-color: #ff0015 !important;
}

.btn-light {
    border-color: #1a202c !important;
    background-color: white !important;
}



.btn-light:hover {
    background-color: #1a202c !important;
    color: #ffffff;
}
